In [2]:
import pandas as pd
import plotly.express as px

In [3]:
iris = px.data.iris()

In [5]:
iris.sample(n=3)

,sepal_length,sepal_width,petal_length,petal_width,species,species_id
117,7.7,3.8,6.7,2.2,virginica,3
113,5.7,2.5,5.0,2.0,virginica,3
73,6.1,2.8,4.7,1.2,versicolor,2

In [ ]:
px.scatter(
    data_frame=iris,
    x=
)