In [72]:
import numpy as np
import pandas as pd

import seaborn as sns

import plotly.graph_objects as go
import plotly.offline as pyo

In [73]:
cars = sns.load_dataset('mpg')

In [74]:
cars.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [78]:
trace = go.Scatter(
    x = cars.horsepower,
    y = cars.mpg,
    mode = 'markers'
)

layout = go.Layout(
    title = 'Scatter Plot'
)

data = [trace]
fig = go.Figure(data = data, layout = layout)
pyo.plot(fig, filename='temp-plot.html')

'temp-plot.html'

In [82]:
trace = go.Scatter(
    x = cars.weight,
    y = cars.mpg,
    mode = 'markers',
    marker = dict(
        size = 12,
        symbol = 'diamond',
        line = dict(
            width = 2,
            color = 'lemonchiffon',
        )
    )
)

layout = go.Layout(
    title = 'Scatter',
    xaxis = dict(
        title = 'Weight'
    ),
    yaxis =  dict(
        title = 'Miles per Gallon'
    ),
    hovermode = 'closest'
)

data = [trace]
fig = go.Figure(data = data, layout = layout)
pyo.plot(fig)

'temp-plot.html'

In [83]:
np.random.seed(56)

x_values = np.linspace(0,1,100)
y_values = np.random.randn(100)

In [86]:
trace = go.Scatter(
    x = x_values,
    y = y_values,
    mode = 'markers',
    marker = {
        'size': 15,
        'color': '#1f77b4',
        'symbol': 'pentagon'
    }
)

layout = go.Layout(
    title = 'Multiple Traces in the Plot',
    xaxis = {
        'title': 'X Axis'
    },
    yaxis = {
        'title': 'Y Axis'
    }
)

data = [trace]
fig = go.Figure(data = data, layout = layout)
pyo.plot(fig, filename = 'temp-plot.html')

'temp-plot.html'

In [89]:
trace_0 = go.Scatter(
    x=x_values,
    y=y_values+5,
    mode='markers',
    name='Markers',
    marker={
        'size': 5,
        'color': 'rgb(31, 119, 180)',
        'symbol': 'pentagon',
        'line': {
            'width': 2,
            'color': 'gray'
        }
    }
)

trace_1 = go.Scatter(
    x=x_values,
    y=y_values,
    mode='lines',
    name='Lines'
)

trace_2 = go.Scatter(
    x=x_values,
    y=y_values-5,
    mode='markers+lines'
)

layout = go.Layout(
    title = 'Multiple Traces in the Plot',
    xaxis = {
        'title': 'X Axis'
    },
    yaxis = {
        'title': 'Y Axis'
    }
)

data = [trace_0, trace_1, trace_2]
fig = go.Figure(data=data, layout=layout)
pyo.plot(fig, filename='temp-plot.html')

'temp-plot.html'

In [113]:
nst = pd.read_csv('nst-est2017-alldata.csv')

In [114]:
nst.head(3)

,SUMLEV,REGION,DIVISION,STATE,NAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,...,RDOMESTICMIG2015,RDOMESTICMIG2016,RDOMESTICMIG2017,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,RNETMIG2016,RNETMIG2017
0,10.0,0,0,0.0,United States,308745538.0,308758105.0,309338421.0,311644280.0,313993272.0,...,0.000000,0.000000,0.00000,2.720900,2.920371,2.883643,3.173228,3.516743,3.513394,3.423941
1,20.0,1,0,0.0,Northeast Region,55317240.0,55318350.0,55388349.0,55642659.0,55860261.0,...,-6.103092,-6.619089,-5.55957,1.467950,0.779137,0.605873,-0.082832,-0.903931,-1.307503,-0.288930
2,20.0,2,0,0.0,Midwest Region,66927001.0,66929794.0,66973360.0,67141501.0,67318295.0,...,-3.458531,-3.307295,-2.30464,-1.187519,-1.010696,-0.120354,-0.752477,-1.323952,-1.160735,-0.191323

In [115]:
nst.shape

(59, 121)

In [116]:
nst.dtypes

SUMLEV         float64
REGION          object
DIVISION        object
STATE          float64
NAME            object
                ...
RNETMIG2013    float64
RNETMIG2014    float64
RNETMIG2015    float64
RNETMIG2016    float64
RNETMIG2017    float64
Length: 121, dtype: object

In [117]:
nst.set_index('NAME', inplace = True)
nst = nst.loc[nst.DIVISION == '1', nst.columns.str.startswith('POP')]

In [118]:
nst

,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015,POPESTIMATE2016,POPESTIMATE2017
NAME,,,,,,,,
Connecticut,3580171.0,3591927.0,3597705.0,3602470.0,3600188.0,3593862.0,3587685.0,3588184.0
Maine,1327568.0,1327968.0,1328101.0,1327975.0,1328903.0,1327787.0,1330232.0,1335907.0
Massachusetts,6564943.0,6612178.0,6659627.0,6711138.0,6757925.0,6794002.0,6823721.0,6859819.0
New Hampshire,1316700.0,1318345.0,1320923.0,1322622.0,1328684.0,1330134.0,1335015.0,1342795.0
Rhode Island,1053169.0,1052154.0,1052761.0,1052784.0,1054782.0,1055916.0,1057566.0,1059639.0
Vermont,625842.0,626210.0,625606.0,626044.0,625665.0,624455.0,623354.0,623657.0

In [121]:
[name for name in nst.index]

['Connecticut',
 'Maine',
 'Massachusetts',
 'New Hampshire',
 'Rhode Island',
 'Vermont']

In [123]:
data = [
    go.Scatter(
        x = nst.columns,
        y = nst.loc[name],
        mode = 'markers+lines',
        name = name,
        marker = dict(
            size = 5,
            symbol = 'y-up-open'
        )
    ) for name in nst.index
]

layout = go.Layout(
    title = 'Comprehension to multiple traces',
    xaxis = dict(
        title = 'Year'
    ),
    yaxis = dict(
        title = 'Population'
    )
)

fig = go.Figure(data = data, layout = layout)
pyo.plot(fig)

'temp-plot.html'

     LST_DATE      DAY  LST_TIME  T_HR_AVG
0    20100601  TUESDAY  00:00:00      25.2
1    20100601  TUESDAY  01:00:00      24.1
2    20100601  TUESDAY  02:00:00      24.4
3    20100601  TUESDAY  03:00:00      24.9
4    20100601  TUESDAY  04:00:00      22.8
..        ...      ...       ...       ...
163  20100607   MONDAY  19:00:00      39.4
164  20100607   MONDAY  20:00:00      38.5
165  20100607   MONDAY  21:00:00      37.0
166  20100607   MONDAY  22:00:00      34.7
167  20100607   MONDAY  23:00:00      32.6

[168 rows x 4 columns]