In [1]:
import pandas as pd
import seaborn as sns

df = sns.load_dataset('mpg')

In [2]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [3]:
import plotly.offline as pyo
import plotly.graph_objs as go

In [4]:
go.Scatter(x=df.weight, y=df.mpg, mode='markers')

Scatter({
    'mode': 'markers',
    'x': array([3504, 3693, 3436, ..., 2295, 2625, 2720]),
    'y': array([18., 15., 18., ..., 32., 28., 31.])
})

In [5]:
data = [go.Scatter(x=df.weight, y=df.mpg, mode='markers')]

pyo.plot(data)

'temp-plot.html'

In [7]:
data = [go.Scatter(
    x=df.horsepower,
    y=df.mpg,
    mode='markers',
    marker=dict(
        size = 12,
        color = 'rgb(23, 143, 150)',
        symbol = 'pentagon',
        line = dict(
            width = 2
        )
    )
)]

layout = go.Layout(
    title = 'Scatter Plot using Plotly Graph Objects',
    xaxis = dict(
        title = 'Horsepower'
    ),
    yaxis = {
        'title': 'Miles Per Gallon'
    },
    hovermode = 'closest'
)

fig = go.Figure(data=data, layout=layout)
pyo.plot(fig, filename='temp-plot.html')

'temp-plot.html'

In [19]:
trace_0 = go.Scatter(
    x = df.horsepower,
    y = df.mpg,
    mode = 'markers',
    marker = dict(
        size = 10,
        color = 'rgb(100, 40, 130)',
        symbol = 'y-up-open',
        line = dict(
            width = 2
        )
    )
)

data = [trace_0]

go.Layout(
    title = 'Scatter plot using Plotly GO',
    xaxis = dict(
        title = 'Horsepower'
    ),
    yaxis = dict(
        title = 'Miles Per Gallon'
    ),
    hovermode = 'closest'
)

fig = go.Figure(data = data, layout = layout)
pyo.plot(fig, filename = 'temp-plot.html')

'temp-plot.html'

In [34]:
import pandas as pd

nst = pd.read_csv('nst-est2017-alldata.csv')

In [35]:
nst.head(3)

,SUMLEV,REGION,DIVISION,STATE,NAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,...,RDOMESTICMIG2015,RDOMESTICMIG2016,RDOMESTICMIG2017,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,RNETMIG2016,RNETMIG2017
0,10.0,0,0,0.0,United States,308745538.0,308758105.0,309338421.0,311644280.0,313993272.0,...,0.000000,0.000000,0.00000,2.720900,2.920371,2.883643,3.173228,3.516743,3.513394,3.423941
1,20.0,1,0,0.0,Northeast Region,55317240.0,55318350.0,55388349.0,55642659.0,55860261.0,...,-6.103092,-6.619089,-5.55957,1.467950,0.779137,0.605873,-0.082832,-0.903931,-1.307503,-0.288930
2,20.0,2,0,0.0,Midwest Region,66927001.0,66929794.0,66973360.0,67141501.0,67318295.0,...,-3.458531,-3.307295,-2.30464,-1.187519,-1.010696,-0.120354,-0.752477,-1.323952,-1.160735,-0.191323

In [38]:
nst.query('DIVISION == 1')

Empty DataFrame
Columns: [SUMLEV, REGION, DIVISION, STATE, NAME, CENSUS2010POP, ESTIMATESBASE2010, POPESTIMATE2010, POPESTIMATE2011, POPESTIMATE2012, POPESTIMATE2013, POPESTIMATE2014, POPESTIMATE2015, POPESTIMATE2016, POPESTIMATE2017, NPOPCHG_2010, NPOPCHG_2011, NPOPCHG_2012, NPOPCHG_2013, NPOPCHG_2014, NPOPCHG_2015, NPOPCHG_2016, NPOPCHG_2017, BIRTHS2010, BIRTHS2011, BIRTHS2012, BIRTHS2013, BIRTHS2014, BIRTHS2015, BIRTHS2016, BIRTHS2017, DEATHS2010, DEATHS2011, DEATHS2012, DEATHS2013, DEATHS2014, DEATHS2015, DEATHS2016, DEATHS2017, NATURALINC2010, NATURALINC2011, NATURALINC2012, NATURALINC2013, NATURALINC2014, NATURALINC2015, NATURALINC2016, NATURALINC2017, INTERNATIONALMIG2010, INTERNATIONALMIG2011, INTERNATIONALMIG2012, INTERNATIONALMIG2013, INTERNATIONALMIG2014, INTERNATIONALMIG2015, INTERNATIONALMIG2016, INTERNATIONALMIG2017, DOMESTICMIG2010, DOMESTICMIG2011, DOMESTICMIG2012, DOMESTICMIG2013, DOMESTICMIG2014, DOMESTICMIG2015, DOMESTICMIG2016, DOMESTICMIG2017, NETMIG2010, NETMIG2011, NETMIG2012, NETMIG2013, NETMIG2014, NETMIG2015, NETMIG2016, NETMIG2017, RESIDUAL2010, RESIDUAL2011, RESIDUAL2012, RESIDUAL2013, RESIDUAL2014, RESIDUAL2015, RESIDUAL2016, RESIDUAL2017, RBIRTH2011, RBIRTH2012, RBIRTH2013, RBIRTH2014, RBIRTH2015, RBIRTH2016, RBIRTH2017, RDEATH2011, RDEATH2012, RDEATH2013, RDEATH2014, RDEATH2015, RDEATH2016, RDEATH2017, RNATURALINC2011, RNATURALINC2012, RNATURALINC2013, RNATURALINC2014, RNATURALINC2015, RNATURALINC2016, RNATURALINC2017, ...]
Index: []

[0 rows x 121 columns]

In [39]:
nst.DIVISION.value_counts()

5    9
8    8
4    7
1    6
0    5
9    5
3    5
6    4
7    4
2    3
X    1
Name: DIVISION, dtype: int64

In [41]:
nst.DIVISION

0       0
1       0
2       0
3       0
4       0
5       6
6       9
7       8
8       7
9       9
10      8
11      1
12      5
13      5
14      5
15      5
16      9
17      8
18      3
19      3
20      4
21      4
22      6
23      7
24      1
25      5
26      1
27      3
28      4
29      6
30      4
31      8
32      4
33      8
34      1
35      2
36      8
37      2
38      5
39      4
40      3
41      7
42      9
43      2
44      1
45      5
46      4
47      6
48      7
49      8
50      1
51      5
52      9
53      5
54      3
55      8
56      X
57    NaN
58    NaN
Name: DIVISION, dtype: object